{% include 'registration/login.html' %}
{% block header %}
    <div class="carousel"></div>

    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" style="position: absolute!important;">
            <a class="navbar-brand" href="/">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto list-inline mx-auto justify-content-center ">
                    {% if departments_all %}
                        {% for department in departments_all %}
                            <li class="nav-item">
                                <a class="nav-link" href={{ department.get_absolute_url }}>{{ department }}</a>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
                {% block login %}
                    {% if user.is_authenticated %}
                        <div class="dropdown show">
                            <button class="btn btn-secondary dropdown-toggle mr-sm-2"  id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ user.first_name }}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">Minha conta</a>
                                <a class="dropdown-item" href="#">Meus pedidos</a>
                                <a class="dropdown-item" href="{% url 'accounts:logout' %}">Sair</a>
                            </div>
                        </div>
                    {% else %}
                        <button class="btn btn-outline-secondary mr-sm-2" data-toggle="modal" data-target="#elegantModalForm">Logar</button>
                    {% endif %}
                {% endblock %}
                <form class="form-inline mt-2 mt-md-0" method="get" action="{% url "search"  %}">{% csrf_token %}
                    <input name="search" class="form-control mr-sm-2" type="text" placeholder="Pesquisar" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
                </form>

            </div>
        </nav>
    </header>
{% endblock %}
{% block content %}
{% endblock %}

{% block footer %}
    <div class="carousel"></div>
    <footer class="page-footer font-small blue pt-4 text-center color_custom">

        <div class="footer-copyright text-center py-3">
            <div class="container">
                <p>Projeto desenvolvido por &copy; mascDriver! <a href="https://br.linkedin.com/in/diogo-baltazar-do-nascimento-865531158">Entre em contato</a></p>
            </div>
        </div>
    </footer>
{% endblock %}
