{% extends 'header.html' %}
{% block content %}
    {% if banners %}
        <div class="">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for banner in banners %}
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for banner in banners %}
                        {% if forloop.last %}
                            <div class="carousel-item active">
                        {% else %}
                            <div class="carousel-item">
                        {% endif %}

                    <img class="first-slide img-fluid" src="/media/{{ banner.banner }}" alt="First slide">
                    <div class="container">
                        <div class="carousel-caption text-left">
                            <h1>{{ banner.name }}</h1>
                            <p>{{ banner.texto }}</p>
                            <p><a class="btn btn-lg btn-primary" href="#" role="button">Veja mais</a></p>
                        </div>
                    </div>
                    </div>
                    {% endfor %}


                    </div>
                    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>

    {% endif %}
    <div class="carousel"></div>

    <div class="container">
        <div class="row">
            {% for produto in produtos %}
                <div class="col-md-3 col-xs-12">
                <a href="{{ produto.get_absolute_url }}" class="custom-card">
                        <div class="container_product ">
                            <div class="card_product " >
                                <div class="imgBx" >
                                    <img type="png" src="/media/{{ produto.image.img }}" alt="{{ produto.image }}">
                                </div>
                                <div class="contentBx">
                                    <span >{{ produto }}</span >
                                    <p>Em estoque: {{ produto.stock.quantity }}</p>
                                    <a href="{{ produto.get_absolute_url }}" class="btn btn-outline-primary stretched-link link">{{ produto.price.price }} R$</a>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}