{% extends 'header.html' %}
{% block content %}
    <div class="carousel"></div>
    <div class="container">
        {% for p in sku %}
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href={{ p.product.department.get_absolute_url }}>{{ p.product.department }}</a></li>
                    <li class="breadcrumb-item"><a href={{ p.product.category.get_absolute_url }}>{{ p.product.category }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ p.product }}</li>

                </ol>
            </nav>

            <div class="card">
                <h5 class="card-header">{{p.product.name }}</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <img class="img-thumbnail " src="/media/{{ p.image.img }}">
                        </div>
                        <div class="col-md-9">
                            <blockquote class="blockquote">{{ p.product  }} - {{ p.name }}</blockquote>
                            <p class="card-text">R$ {{ p.price.price }}</p>
                            <p class="card-text">Em estoque: {{ p.stock.quantity }}</p>
                            {% for v in variations %}
                                {% if v == p %}
                                    <a class="btn btn-outline-primary active">{{ v.name }}</a>
                                {% else %}
                                    <a href="{{ v.get_absolute_url }}" class="btn btn-outline-primary">{{ v.name }}</a>
                                {% endif %}
                            {% endfor %}
                            <br>
                            <br>

                            <a href="#" class="btn btn-outline-success">Comprar</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}